.wrapper {
  padding: 20px 16px 0 16px;
  display: block;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1440px;
}

.cards {
  margin: 0;
  padding: 0;
  text-align: start;
}

.info {
  padding-top: 30px;
}
