.footer {
  flex-shrink: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  padding: 20px 10px;
  justify-content: space-between;
}

.data {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socList {
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}
