.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  margin-top: 50px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.data {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socList {
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}
